<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap/bootstrap-grid.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap/bootstrap-reboot.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
</head>
<body class="container col-5 justify-content-center" style="background: url({% static 'img/back.png' %});">
<div class="card m-3 border-info border border-2 rounded-0">
    <h3 class="card-header rounded-0 text-bg-info text-light">Edit order</h3>
    <div class="card-body p-3 text-bg-light">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <a href="{{request.META.HTTP_REFERER|escape}}" class="btn btn-info rounded-0 text-light">Back</a>
            <input type="submit" class="btn btn-info rounded-0 text-light" value="Edit">
        </form>
    </div>
</div>
</body>
</html>